# OS artifacts
.DS_Store

# IDEs
.idea/

# Documentation artifacts
.yardoc
_yardoc
doc/
rdoc

# Rubocop
.rubocop-http*

# test artifacts
spec/reports
coverage

# Appraisal
gemfiles/*.lock

# gem building artifacts
*.a
*.bundle
*.gem
*.o
*.rbc
*.so
.bundle
.config
InstalledFiles
checksums
lib/bundler/man
mkmf.log
pkg
tmp